<div class="modal fade" id="deletePaciente-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true">
    <div class="modal-dialog modal-sm modal-fullscreen-sm-down" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h5>¿Seguro que desea eliminar el paciente?</h5>
                Todos los datos asociados también serán eliminados
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-danger" id="eliminar-btn">Eliminar</button>
            </div>
        </div>
    </div>
</div>